.navbar {
        background: #653bb5;
        position: fixed;
        width: 100%;
        box-shadow: 0 14px 28px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.22);
        color: #fff;
        font-size: calc(10px + 14 * (100vw - 320px)/ 800);
        display: block;
        box-sizing: border-box;
        font-family: sans-serif;
    
    }